
.root {
	-fx-background-image: url("myBackground.jpeg");
}

.header {
	-fx-font-size: 50px;
}

.button {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: #2E64FE;
	-fx-min-height: 40px;
	-fx-max-width: 200px;
	-fx-background-color: #D8D8D8;
}

.button:hover {
	-fx-background-color: #A9E2F3;
}

.lblIngredient1 {
	-fx-font-size: 25px;
	-fx-text-fill: #CC2EFA;
}

.text-area {
	 -fx-border-color: #61380B;
	 -fx-border-style: dashed;
	 -fx-text-fill: #FFFFFF;
}

.text-area .content{
      -fx-background-color: #DBA901;
      -fx-border-style: dashed;
      
  }
  
.text-field {
	-fx-background-color: #DBA901;
	-fx-text-fill: #FFFFFF;
}

.label {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-fill: #D8D8D8;
}

.tab-pane{
    -fx-padding: 0 -1 -1 -1;
}

.tab-pane:top *.tab-header-area {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	
}

.tab {
	-fx-background-color: #D8D8D8;
	-fx-text-fill: #2E64FE;
}

.tab:hover{
	-fx-background-color: #A9E2F3;
	
}