
.root {
	-fx-background-image: url("myBackground.jpeg");
}

.header {
	-fx-font-size: 50px;
}

.button {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: #81BEF7;
	-fx-min-height: 40px;
	-fx-max-width: 200px;
	-fx-background-color: #FE2EF7;
	
}

.lblIngredient1 {
	-fx-font-size: 25px;
	-fx-text-fill: #CC2EFA;
	-fx-border-radius: 30px;
}

.text-area {
	 -fx-border-color: #61380B;
	 -fx-border-style: dashed;
}

.text-area .content{
      -fx-background-color: #61380B;
      -fx-border-style: dashed;
  }
  
.text-field {
	-fx-background-color: #61380B;
	-fx-border-color: #01A9DB;
}

.label {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-fill: #01A9DB;
	-fx-background-color: #E6E6E6;
}

.TabPane {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
} 