
.root {
	-fx-background-image: url("myBackground.jpeg");
}

.button {
	-fx-font-size: 10px;
	-fx-font-weight: bold;
}

.lblIngredient1 {
	-fx-font-size: 25px;
	-fx-text-fill: #CC2EFA;
}

.textfield {
  height: 50px;
  width: 100px;
  background-color: #555;
  border-radius: 50%;
}
